In [2]:
import os
os.listdir

In [8]:
import pandas
df1=pandas.read_json("supermarkets.json")
df1

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [12]:
df3=pandas.read_excel("supermarkets.xlsx",sheet_name=0)
df3

,ID,Address,City,State,Country,Supermarket Name,Number of Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [17]:
df4 = pandas.read_csv("data.txt", header = None)
df4.columns = ["ID","Address","City","Post Code","Country","Shop Name","Million per Month"]
df4 = df4.set_index("ID")
df4

,Address,City,Post Code,Country,Shop Name,Million per Month
ID,,,,,,
1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
3,332 Hill St,San Francisco,California 94114,USA,Super River,25
4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [18]:
type(df4)

pandas.core.frame.DataFrame

In [23]:
from geopy.geocoders import ArcGIS
nom = ArcGIS()
home = nom.geocode("15 Clydesdale Drive, Bonshaw, Victoria, Australia")
print(home.latitude)
print(home.longitude)

-37.60124346129654
143.82094414151317

In [35]:
from geopy.geocoders import ArcGIS
nom = ArcGIS()

df=pandas.read_csv("supermarkets.csv")
df["Address"]=df["Address"]+ ", " + df["City"] + ", " + df["State"] + ", " + df["Country"]
df["Coordinates"]=df["Address"].apply(nom.geocode)
df
df.Coordinates[0].latitude
df["Latitude"] = df.Coordinates.apply(lambda x: x.latitude if x != None else None)
df["Longitude"] = df.Coordinates.apply(lambda x: x.longitude if x != None else None)
df

NameError: name 'null' is not defined