In [2]:
import os
os.listdir

In [8]:
import pandas
df1=pandas.read_json("supermarkets.json")
df1

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [12]:
df3=pandas.read_excel("supermarkets.xlsx",sheet_name=0)
df3

,ID,Address,City,State,Country,Supermarket Name,Number of Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [17]:
df4 = pandas.read_csv("data.txt", header = None)
df4.columns = ["ID","Address","City","Post Code","Country","Shop Name","Million per Month"]
df4 = df4.set_index("ID")
df4

,Address,City,Post Code,Country,Shop Name,Million per Month
ID,,,,,,
1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
3,332 Hill St,San Francisco,California 94114,USA,Super River,25
4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [18]:
type(df4)

pandas.core.frame.DataFrame

In [23]:
from geopy.geocoders import ArcGIS
nom = ArcGIS()
home = nom.geocode("15 Clydesdale Drive, Bonshaw, Victoria, Australia")
print(home.latitude)
print(home.longitude)

-37.60124346129654
143.82094414151317

In [36]:
from geopy.geocoders import ArcGIS
nom = ArcGIS()

df=pandas.read_csv("supermarkets.csv")
df["Address"]=df["Address"]+ ", " + df["City"] + ", " + df["State"] + ", " + df["Country"]
df["Coordinates"]=df["Address"].apply(nom.geocode)
df
df.Coordinates[0].latitude
df["Latitude"] = df.Coordinates.apply(lambda x: x.latitude if x != None else None)
df["Longitude"] = df.Coordinates.apply(lambda x: x.longitude if x != None else None)
df

,ID,Address,City,State,Country,Name,Employees,Coordinates,Latitude,Longitude
0,1,"3666 21st St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Madeira,8,"(3666 21st St, San Francisco, California, 9411...",37.756632,-122.429411
1,2,"735 Dolores St, San Francisco, CA 94119, USA",San Francisco,CA 94119,USA,Bready Shop,15,"(735 Dolores St, San Francisco, California, 94...",37.757829,-122.425373
2,3,"332 Hill St, San Francisco, California 94114, USA",San Francisco,California 94114,USA,Super River,25,"(332 Hill St, San Francisco, California, 94114...",37.755845,-122.428813
3,4,"3995 23rd St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Ben's Shop,10,"(3995 23rd St, San Francisco, California, 9411...",37.752921,-122.431703
4,5,"1056 Sanchez St, San Francisco, California, USA",San Francisco,California,USA,Sanchez,12,"(1056 Sanchez St, San Francisco, California, 9...",37.752132,-122.430006
5,6,"551 Alvarado St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Richvalley,20,"(551 Alvarado St, San Francisco, California, 9...",37.753582,-122.433234

In [38]:
from tkinter import *
from tkinter import ttk
import tkinter as tk

# Function to update expression
# in the text entry box
def press(num):
    # point out the global expression variable
    global expression
    operations = ("*", "+", "-", "÷")
    expression = str(expression) # Always treat as string
    if(expression.endswith(operations) and num in operations):
        return

    # concatenation of string
    expression = expression + str(num)
 
    # update the expression by using set method
    equation.set(expression)
 
def clear():
    global expression
    expression=""
    equation.set("") 

def easterEggs():
    global expression
    if (str(expression) in ("420", "69", "42069", "69420", "58,008")):
        content.config(background='Black')
        oneButton.config(background='Green')
        twoButton.config(background='Yellow')
        threeButton.config(background='Blue')
        fourButton.config(background='Pink')
        fiveButton.config(background='Grey')
        sixButton.config(background='Orange')
        sevenButton.config(background='Purple')
        eightButton.config(background='Brown')
        nineButton.config(background='Green')
        btn_Clear.config(background='Yellow')
        btn_Zero.config(background='Blue')
        btn_Decimalpoint.config(background='Pink')
        btn_Equals.config(background='Grey')
        btn_Add.config(background='Orange')
        btn_Subtract.config(background='Purple')
        btn_Multiply.config(background='Brown')
        btn_Divide.config(background='Red')
        btn_Back.config(background='Pink')
    else:   
        content.config(background='White')
        oneButton.config(background='White')
        twoButton.config(background='White')
        threeButton.config(background='White')
        fourButton.config(background='White')
        fiveButton.config(background='White')
        sixButton.config(background='White')
        sevenButton.config(background='White')
        eightButton.config(background='White')
        nineButton.config(background='White')
        btn_Clear.config(background='White')
        btn_Zero.config(background='White')
        btn_Decimalpoint.config(background='White')
        btn_Equals.config(background='White')
        btn_Add.config(background='White')
        btn_Subtract.config(background='White')
        btn_Multiply.config(background='White')
        btn_Divide.config(background='White')
        btn_Back.config(background='White')

def calculate():
    try:
        global expression
        if("÷0" in str(expression)):
            expression = str(expression).replace("÷0","")
        expression = cleanseInput()
        total = str(eval(expression))
        expression = total
        equation.set(total)
        easterEggs()
    except:
        equation.set(" error ")
        expression = ""

def cleanseInput():
     global expression
     expression = str(expression).replace("÷","/")
     expression = str(expression).replace("x","*")
     return expression
 

def backsp():
    global expression
    expression = str(expression[:-1])
    equation.set(expression) 

root = Tk()
root.geometry("400x500")
root.title("Calculator")

# globally declare the expression variable
expression = ""
 
equation = StringVar()

buttonWidth=12
buttonHeight=4
buttonPadX=-10
buttonPadY=-8

content = tk.Frame(root)
content.config(height=550)
input = ttk.Entry(content, textvariable=equation, justify=RIGHT, font=("Calibri",28))
btn_Back = tk.Button(content, text="⌫", command=lambda: backsp(), width=buttonWidth, height=buttonHeight, padx=buttonPadX, pady=buttonPadY,)
btn_Divide = tk.Button(content, text="÷", command=lambda:press('÷'), width=buttonWidth, height=buttonHeight, padx=buttonPadX, pady=buttonPadY)
btn_Multiply = tk.Button(content, text="x", command=lambda:press('x'), width=buttonWidth, height=buttonHeight, padx=buttonPadX, pady=buttonPadY)
btn_Subtract = tk.Button(content, text="-", command=lambda:press('-'), width=buttonWidth, height=buttonHeight, padx=buttonPadX, pady=buttonPadY)
btn_Add = tk.Button(content, text="+", command=lambda:press('+'), width=buttonWidth, height=buttonHeight, padx=buttonPadX, pady=buttonPadY)
btn_Equals = tk.Button(content, text="=", command=lambda:calculate(), width=buttonWidth, height=buttonHeight, padx=buttonPadX, pady=buttonPadY)
btn_Decimalpoint = tk.Button(content, text=".", command=lambda:press('.'), width=buttonWidth, height=buttonHeight, padx=buttonPadX, pady=buttonPadY)
btn_Zero = tk.Button(content, text="0", command=lambda:press(0), width=buttonWidth, height=buttonHeight, padx=buttonPadX, pady=buttonPadY)
btn_Clear = tk.Button(content, text="C", command=lambda:clear(), width=buttonWidth+14, height=buttonHeight, padx=buttonPadX, pady=buttonPadY)

oneButton = tk.Button(
    master=content,
    text="1",
    command=lambda: press(1),
    width=buttonWidth, height=buttonHeight, padx=buttonPadX, pady=buttonPadY
)

twoButton = tk.Button(
    master=content,
    text="2",
    command=lambda: press(2),
    width=buttonWidth, height=buttonHeight, padx=buttonPadX, pady=buttonPadY
)

threeButton = tk.Button(
    master=content,    
    text="3",
    command=lambda: press(3),
    width=buttonWidth, height=buttonHeight, padx=buttonPadX, pady=buttonPadY
)

fourButton = tk.Button(
    master=content,
    text="4",
    command=lambda: press(4),
    width=buttonWidth, height=buttonHeight, padx=buttonPadX, pady=buttonPadY
)

fiveButton = tk.Button(
    master=content,
    text="5",
    command=lambda: press(5),
    width=buttonWidth, height=buttonHeight, padx=buttonPadX, pady=buttonPadY
)

sixButton = tk.Button(
    master=content,
    text="6",
    command=lambda: press(6),
    width=buttonWidth, height=buttonHeight, padx=buttonPadX, pady=buttonPadY
)

sevenButton = tk.Button(
    master=content,
    text="7",
    command=lambda: press(7),
    width=buttonWidth, height=buttonHeight, padx=buttonPadX, pady=buttonPadY
)

eightButton = tk.Button(
    master=content,
    text="8",
    command=lambda: press(8),
    width=buttonWidth, height=buttonHeight, padx=buttonPadX, pady=buttonPadY
)

nineButton = tk.Button(
    master=content,
    text="9",
    command=lambda: press(9),
    width=buttonWidth, height=buttonHeight, padx=buttonPadX, pady=buttonPadY
)

zeroButton = tk.Button(
    master=content,
    text="0",
    command=lambda: press(0),
    width=buttonWidth, height=buttonHeight, padx=buttonPadX, pady=buttonPadY
)

content.grid(column=0, row=0)
input.grid(column=0, row=0, columnspan=6, rowspan=2)
btn_Back.grid(column=2, row=3)
btn_Clear.grid(column=0, row=3, columnspan=2)
btn_Divide.grid(column=3, row=3)
btn_Multiply.grid(column=3, row=4)
btn_Subtract.grid(column=3, row=5)
btn_Add.grid(column=3, row=6)
btn_Equals.grid(column=3, row=7)
btn_Zero.grid(column=1, row=7)
btn_Decimalpoint.grid(column=2, row=7)
oneButton.grid(column=0, row=6)
twoButton.grid(column=1, row=6)
threeButton.grid(column=2, row=6)
fourButton.grid(column=0, row=5)
fiveButton.grid(column=1, row=5)
sixButton.grid(column=2, row=5)
sevenButton.grid(column=0, row=4)
eightButton.grid(column=1, row=4)
nineButton.grid(column=2, row=4)

root.mainloop()